// Fonts
@import url("https://fonts.googleapis.com/css?family=Bubblegum+Sans|Chewy&display=swap");

// Internal Imports
@import "common/mixins";
@import "common/variables";

@font-face {
    font-family: "digital-7";
    src: url("/fonts/digital-7-mono.ttf");
}

// Globals
*:not(input) {
    user-select: none;
}

html,
body {
    color: $black;
    font-family: "Bubblegum Sans", cursive;
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    padding: 0;

    height: 100%;
    overflow: hidden;
    width: 100%;
    position: fixed;

    background-image: url(/images/wall.png);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Chewy", cursive;
}

.g-number {
    text-align: right;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum" on;
    white-space: nowrap;
}

.g-game {
    .g-game-wrapper {
        display: flex;

        .g-game-left {
            position: relative;
            width: 520px;
            height: 100vh;
        }
        .g-game-right {
            position: relative;
            height: 100vh;
            width: calc(100vw - 520px);
            display: flex;
        }
    }
}

g-canvas {
    display: block;
    margin: auto;
}

.g-canvas {
    padding: 2em;
    cursor: url(/images/brush-small.png) 0 32, auto;

    .g-canvas-background {
        width: 800px;
        min-height: 1035px;
        position: relative;
    }

    .g-canvas-overlay {
        pointer-events: none;
        background-image: url(/images/easel.png);
        width: 800px;
        min-height: 1035px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background-repeat: no-repeat;
        background-size: 100% auto;
    }

    canvas {
        margin-top: 102px;
        margin-left: 75px;
    }

    .g-canvas-brush {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid black;
        pointer-events: none;
        cursor: url(/images/brush-small.png) 0 32, auto;
    }
}

g-palette {
    bottom: 2em;
    display: block;
    position: absolute;
}

.g-palette {
    img {
        max-width: 500px;
    }

    button {
        cursor: url(/images/brush-small.png) 0 32, auto !important;
    }

    .g-palette-background {
        background-image: url(/images/palette-empty.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 478px;
        height: 355px;
        padding-top: 29px;
        padding-left: 160px;

        .g-palette-colors {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 19px;
            text-align: center;
            width: 310px;

            .btn {
                width: 56px;
                height: 56px;
                border: 8px solid #111;
                border-radius: 12px;
                display: inline-block;
            }
        }
    }

    .g-palette-selected {
        box-shadow: 0 0 0 0.2rem #e6b200 !important;
    }

    .btn:focus {
        outline: 0;
        box-shadow: none;
    }

    .g-palette-brush {
        width: 43px;
        height: 284px;
        position: absolute;
        top: 85px;
        padding: 0 25px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;

        &-thin {
            background-image: url(/images/brush_small.png);
            left: 101px;

            &.g-palette-brush--selected {
                background-image: url(/images/brush_small_selected.png);
            }
        }

        &-thick {
            background-image: url(/images/brush_big.png);
            left: 50px;

            &.g-palette-brush--selected {
                background-image: url(/images/brush_big_selected.png);
            }
        }
    }
}

.g-level-select {
    .g-level-select-logo {
        max-width: 500px;
    }

    h1 {
        font-size: 80px;
    }

    p {
        font-size: 30px;
    }

    .g-level-select-level {
        cursor: pointer;
        text-align: center;
        flex: 1;
        img {
            max-width: 200px;
        }
    }

    .g-level-select-arrows {
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .g-level-select-arrow {
        cursor: pointer;
        padding: 1em;
    }

    .g-level-select-instructions {
        margin-left: 130px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: rgba(65, 150, 184, 0.35);
        padding: 20px;
        display: inline-block;
        border-radius: 20px;
    }
}

g-score {
    width: 520px;
}

.g-score {
    margin-top: 2em;
    width: 520px;
    .g-score-clock {
        display: inline-block;
        position: relative;
        background-image: url(/images/clock.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 390px;
        height: 220px;

        .g-score-clock-background {
            opacity: 0.1;
        }

        .g-score-clock-background,
        .g-score-clock-foreground {
            position: absolute;
            top: 61px;
            left: 90px;
            font-size: 90px;
            font-family: "digital-7", sans-serif;
            color: #b63a3f;
        }
    }

    .g-score-gauge {
        position: relative;
        background-image: url(/images/gauge-body.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 350px;
        height: 300px;
        margin: 30px auto 0;
    }

    .g-score-gauge-arrow {
        position: absolute;
        left: 50%;
        top: 10px;
        margin-left: -20px;
        background-image: url(/images/gauge-arrow.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 45px;
        height: 150px;
        transform: rotate(0deg);
        transform-origin: 22.5px 109px;
        transition: transform 1s linear;
    }

    .g-score-gauge-stop {
        position: absolute;
        left: 50%;
        top: 70px;
        margin-left: -50px;
        background-image: url(/images/gauge-stop.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 100px;
        height: 100px;
        cursor: pointer;
    }

    .modal-body {
        overflow: hidden;
        max-height: 540px;
    }

    input {
        border-width: 3px !important;
        border-radius: 6px !important;
    }
}

.p-game-reload {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 75px;
    height: 75px;
    border: 0;
    background-image: url(/images/info.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    z-index: 10000;
    border-radius: 75px !important;

    &:hover {
        background-color: transparent;
        border: 0;
    }
}

.g-go {
    width: 95px;
    height: 95px;
    border: 0;
    background-image: url(/images/go.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    cursor: pointer;
    z-index: 10000;
    border-radius: 75px !important;

    &:hover {
        background-color: transparent;
        border: 0;
    }
}

.g-floor {
    background-image: url(/images/floor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 0;
    width: 100vw;
    height: 300px;
    position: absolute;
    border-top: 2px solid black;
    background-color: black;
}

.modal-backdrop {
    // display: none !important;
}

.modal-content {
    background-image: url(/images/modal.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding: 20px 60px;
    min-height: 700px;
    border: 0;
}

.g-clippy {
    position: absolute;
    right: -50px;
    bottom: -100px;
    max-width: 130px;
}

.g-btn-bg {
    background-image: url(/images/btn_blue.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 137px;
    background-color: transparent;
    border: 0;
    font-size: 22px;
    outline: 0 !important;
    box-shadow: none !important;

    &:hover {
        background-color: transparent;
        border: 0;
        opacity: 0.9;
    }

    &:focus,
    &:disabled {
        border: 0 !important;
        outline: 0 !important;
        box-shadow: none !important;
        background-color: transparent !important;
    }
}

small {
    font-size: 70%;
}

em {
    font-size: 40px;
    font-style: normal;
}

.g-compare {
    position: relative;
    #g-compare {
        margin: auto;
        width: 400px;
        height: 400px;
    }

    img {
        width: 400px;
        height: 400px;
    }

    .img-comp-container {
        position: relative;
        margin-left: 117px;
        margin-bottom: 1em;
        width: 400px;
        height: 400px;
        outline: 1px solid #2196f3;
    }

    .img-comp-img {
        position: absolute;
        width: auto;
        height: auto;
        overflow: hidden;
    }

    .img-comp-img img {
        display: block;
        vertical-align: middle;
    }

    .img-comp-slider {
        position: absolute;
        z-index: 9;
        cursor: ew-resize;
        /*set the appearance of the slider:*/
        width: 60px;
        height: 60px;
        background-image: url(/images/btn_left_right.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .img-comp-overlay {
        border-right: 1px solid #2196f3;
    }
}

// Modal fixes
.modal-dialog {
    @media (min-width: 800px) {
        margin-top: 6em;
    }
}
