<div class="g-level-select">
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div ng-show="$ctrl.state == 'welcome'">
                        <div class="text-center">
                            <img class="g-level-select-logo" ng-src="/images/logo.png" />
                        </div>
                        <div class="g-level-select-instructions">
                            <p class="mb-0">
                                <b>INSTRUCTIONS:</b>
                            </p>
                            <ul>
                                <li>Pick your level</li>
                                <li>Fix the damaged painting</li>
                                <li>Choose colors and size in the palette</li>
                                <li>Get points based on accuracy and speed</li>
                            </ul>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary g-go" ng-click="$ctrl.showLevelSelect()"></button>
                        </div>
                    </div>
                    <div ng-show="$ctrl.state == 'level-select'">
                        <h1 class="text-center">Select level</h1>
                        <div class="g-level-select-arrows">
                            <div>
                                <img draggable="false" class="g-level-select-arrow" ng-src="/images/arrow-left.png" ng-click="$ctrl.prevLevel()" />
                            </div>
                            <div ng-repeat="level in $ctrl.levels" ng-show="$ctrl.levelIndex == $index" class="g-level-select-level" ng-click="$ctrl.selectLevel(level)">
                                <img draggable="false" ng-src="{{ level.attributes.actual }}" />
                                <p>{{ level.attributes.name }}</p>
                            </div>
                            <div>
                                <img draggable="false" class="g-level-select-arrow" ng-src="/images/arrow-right.png" ng-click="$ctrl.nextLevel()" />
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary g-go" ng-click="$ctrl.selectLevel($ctrl.levels[$ctrl.levelIndex])"></button>
                        </div>
                    </div>
                </div>
            </div>
            <img draggable="false" class="g-clippy" src="/images/clippy.png" />
        </div>
    </div>
</div>
