<div class="g-canvas">
    <div class="g-canvas-background" ng-show="$ctrl.level">
        <canvas
            id="g-canvas-canvas"
            ng-attr-width="{{ $ctrl.width }}"
            ng-attr-height="{{ $ctrl.height }}"
        ></canvas>
        <div class="g-canvas-overlay"></div>
        <div class="g-canvas-brush" ng-style="{width: $ctrl.getBrushSize(), height: $ctrl.getBrushSize()}"></div>
    </div>
</div>
