<div class="g-game">
    <div class="g-floor"></div>
    <g-level-select></g-level-select>
    <div class="g-game-wrapper">
        <div class="g-game-left">
            <g-score ng-show="$ctrl.level" class="d-inline-block"></g-score>
            <g-palette ng-show="$ctrl.level"></g-palette>
        </div>
        <div class="g-game-right">
            <button type="button" class="btn btn-primary p-game-reload" onclick="location.reload()"></button>
            <g-canvas ng-show="$ctrl.level"></g-canvas>
        </div>
    </div>
</div>